{% extends 'base.html' %}

{% block title %}
Contactez-nous - GestCoop
{% endblock %}

{% block content %}
<h2>Contactez-nous</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Adresse e-mail</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Votre message</label>
        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
{% endblock %}
