{% extends 'base.html' %}

{% block title %}
Historique des Commandes - GestCoop
{% endblock %}

{% block content %}
<h2>Historique des Commandes</h2>
{% if orders %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID de la Commande</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Montant Total (€)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created_at|date:"d/m/Y H:i" }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>{{ order.total_price }}</td>
                <td>
                    <a href="{% url 'view_order' order.id %}" class="btn btn-sm btn-info">Voir Détails</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune commande passée pour le moment.</p>
{% endif %}
{% endblock %}
